<form [formGroup]="searchForm" (ngSubmit)="searchSubmit(searchForm.value)" class="form">

  <mat-form-field class="form__select">
    <mat-select formControlName="searchFormAmount" placeholder="Pics per page">
      <mat-option *ngFor="let howmuch of picsPerPage" [value]="howmuch">
        {{howmuch}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form__input">
    <input formControlName="searchFormKeyword" matInput placeholder="Enter a keyword(s)">
  </mat-form-field>

  <button type="submit" [disabled]="!searchForm.valid">xD</button>

</form>
